---
layout: default
title: Welcome to CryptoModeler App
h1: ¡Crypto Modeler!
language: en
description: Crypto Mobile App to full automate your daily investments and see all profits at a glance.
---
<header class="first-container">
  {% include logo.html %}
  <img src="{{site.baseurl}}/img/dashboard-cryptomodeler.svg" alt="{{page.description}}" class="hero-home">
  <div class="home-hero">
    <h1>{{page.h1}}</h1>
    <p>Crypto for everybody!</p>
    <a href="{{ site.baseurl }}/{{page.download-link}}" title="Download Crypto Modeler" class="botones">Download</a>
  </div>
</header>
<section class="about">
  <h2>¿What is Crypto Modeler?</h2>
  <p>
    Crypto Modeler is the easiest way to start your career in the crypto world.</p>
  <p>
    Simple as <strong style="color: var(--principal);">Drag and Drop your desired actions</strong> and let the
    application work for you.
  </p>
  <ul class="features">
    <li>
      <img src="{{site.baseurl}}/img/data.webp" alt="Cryptomodeler data analysis"
        title="Cryptomodeler feature of data analysis">
      <p>Cryptomodeler <strong>organizes Binance market data using our AI</strong> keeping one step ahead and making the
        most efficient decisions.</p>
    </li>
    <li>
      <img src="{{site.baseurl}}/img/workflows-crypto.webp" alt="Cryptomodeler workflows"
        title="Workflows Cryptomodeler">
      <p>Automate your movements and alerts with <strong>Cryptomodeler workflows.</strong></p>
    </li>
    <li>
      <img src="{{site.baseurl}}/img/actions-cryptomodeler.webp" alt="Actions and impacts cryptomodeler"
        title="feature cryptomodeler of actions and impact">
      <p>With your workflows in place and activated, easily <strong>see the action's impacts on your earnings.</strong>
      </p>
    </li>
  </ul>
</section>
<div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
    style="height: 100%; width: 100%;">
    <path d="M-14.44,-18.25 C168.40,253.13 350.67,80.43 517.72,13.31 L500.00,150.00 L0.00,150.00 Z"
      style="stroke: none; fill: var(--blanco); display: inline-block;"></path>
  </svg></div>
<section class="how">
  <h2>¿How Crypto Modeler works?</h2>
  <ul class="how-steps">
    <li><img src="{{'img/dashboard.svg' | relative_url}}" alt="Cryptomodeler Dashboard" loading="lazy">
      <p>Receive real-time data and track your portfolio's performance.</p>
    </li>
    <li><img src="{{'img/workflows.svg' | relative_url}}" alt="Cryptomodeler WorkFlows" loading="lazy">
      <p>Drag & Drop your next movements directly on your mobile.</p>
    </li>
    <li><img src="{{'img/actions.svg' | relative_url}}" alt="Cryptomodeler Actions" loading="lazy">
      <p>Your automated actions and AI will do all the work for you.</p>
    </li>
  </ul>
  <p>Don't you think it's time you begin to gain real benefits? ;). Try it! <br>Crypto Modeler is quite easy!</p>
  <a class="botones" href="{{ site.baseurl }}/{{page.download-link}}" title="lorem">Download now</a>
</section>
<div style="height: 150px; overflow: hidden; background-color: white;"><svg viewBox="0 0 500 150"
    preserveAspectRatio="none" style="height: 100%; width: 100%;">
    <path d="M-14.44,-18.25 C168.40,253.13 350.67,80.43 517.72,13.31 L500.00,150.00 L0.00,150.00 Z"
      style="stroke: none; fill: var(--secundario); display: inline-block;"></path>
  </svg></div>


{% include footer.html %}
<script>
  var lang = navigator.language || navigator.userLenguage;
  if (lang.indexOf('es') == 0)
  window.location = '/es/'
  //other lenguages here
  else
  //lenguage default
  window.location = '/'
</script>