---
layout: default
title: Welcome to CryptoModeler App
h1: ¡Crypto Modeler!
language: en
description: Crypto Mobile App to full automate your daily investments and see all profits at a glance.
download-link: 'assets/pixcile.cryptobiance.apk'
---
<header class="first-container">
  {% include logo.html %}
  <img src="{{site.baseurl}}/img/dashboard-cryptomodeler.webp" alt="{{page.description}}" class="hero-home" width="360px" height="640px">
  <div class="home-hero">
    <h1>{{page.h1}}</h1>
    <p>Crypto for everybody!</p>
    <a href="{{ site.baseurl }}/{{page.download-link}}" title="Download Crypto Modeler" class="botones">Download</a>
  </div>
</header>
<section class="about">
  <h2>¿What is Crypto Modeler?</h2>
  <p>
    Crypto Modeler is the easiest way to start your career in the crypto world.</p>
  <p>
    Simple as <strong style="color: var(--principal);">Drag and Drop your desired actions</strong> and let the
    application work for you.
  </p>
  <ul class="features">
    <li>
      <img src="{{site.baseurl}}/img/data.webp" alt="Cryptomodeler data analysis"
        title="Cryptomodeler feature of data analysis" width="300" height="271">
      <p>Cryptomodeler <strong>organizes Binance market data using our AI</strong> keeping one step ahead and making the
        most efficient decisions.</p>
    </li>
    <li>
      <img src="{{site.baseurl}}/img/workflows-crypto.webp" alt="Cryptomodeler workflows"
        title="Workflows Cryptomodeler" width="300" height="271">
      <p>Automate your movements and alerts with <strong>Cryptomodeler workflows.</strong></p>
    </li>
    <li>
      <img src="{{site.baseurl}}/img/actions-cryptomodeler.webp" alt="Actions and impacts cryptomodeler"
        title="feature cryptomodeler of actions and impact" width="300" height="271">
      <p>With your workflows in place and activated, easily <strong>see the action's impacts on your earnings.</strong>
      </p>
    </li>
  </ul>
</section>
<div style="height: 150px; overflow: hidden; background-color: rgba(0, 0, 0, 0.75);" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-24.04,-49.82 C37.47,170.23 263.20,1.49 504.74,0.50 L536.34,-57.72 L-40.96,-89.30 Z" style="stroke: none; fill: #fff;"></path></svg></div>

  <section class="register">
    <h2>Do you want to start using Cryptomodeler?</h2>
    <p>In just 3 easy steps you will have our AI's making money for you. Just follow these instructions.</p>
    <div>
      <article>
        <span>Step 1</span>
        <img src="{{ 'img/registro-paso-1.png' | relative_url }}" alt="">
        <p>Start by registering with Binance. It's a very simple registration.</p>
        <a href="https://www.binance.com/es/activity/referral/offers/claim?ref=CPA_00LT3IVXK8" class="botones">Binance register</a>
      </article>
      <article>
        <span>Step 2</span>
        <img src="{{ 'img/registro-paso-2.png' | relative_url }}" alt="">
        <p>Verify your legal data in order to be able to transact. Just continue after registration.</p>
      </article>
      <article>
        <span>Step 3</span>
        <img src="{{ 'img/registro-paso-1.png' | relative_url }}" alt="">
        <p>Finally, authorize Cryptomodeler to make your transactions on Binance.</p>
        <a href="{{ page.download-link }}" class="botones" title="Descarga Cryptomodeler">Download Cryptomodeler</a>
      </article>
    </div>
    <p>Start today to fully automate your daily investments and see all the profits with the security and stability of Cryptomodeler.</p>
  </section>
  <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150"
    preserveAspectRatio="none" style="height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.75);">
    <path d="M-14.44,-18.25 C168.40,253.13 350.67,80.43 517.72,13.31 L500.00,150.00 L0.00,150.00 Z"
      style="stroke: none; fill: var(--secundario); display: inline-block;"></path>
  </svg></div>


{% include footer.html %}
<script>
  var lang = navigator.language || navigator.userLenguage;
  if (lang.indexOf('es') == 0)
  window.location = '/es/'
  //other lenguages here
  else
  //lenguage default
  window.location = '/'
</script>