<div class="flags">
    {% if page.name contains "index" %}
    <a href="{{ site.baseurl }}/"><img src="{{ 'img/gb.svg' | relative_url}}" alt="English language flag"> </a>
    <a href="{{ site.baseurl | append: "/es" }}"><img src="{{ 'img/es.svg' | relative_url}}"
            alt="Bandera idioma español"></a>
    {% else %}
    <a href="{{ site.baseurl | append: page.handle }}"><img src="{{ 'img/gb.svg' | relative_url}}"
            alt="English language flag"> </a>
    <a href="{{ site.baseurl | append: "/es" | append: page.handle }}"><img src="{{ 'img/es.svg' | relative_url}}"
            alt="Bandera idioma españdiv></a>
    {% endif %}
</div>