<nav class="nav hide">
  <div class="hamburguer-menu">
    <div class="line line-1"></div>
    <div class="line line-2"></div>
    <div class="line line-3"></div>
  </div>
  <ul class="nav-list">
    <li class="nav-item">
      {% if page.language == "en" %}
      <a href="/" class="nav-link">{{ site.nav-home[page.language] }}</a>
      {% else %}
      <a href="{{site.baseurl}}/es" class="nav-link">{{ site.nav-home[page.language] }}</a>
      {% endif %}
    </li>
    <li class="nav-item">
      {% if page.language == "en" %}
      <a href="{{site.baseurl}}/news" class="nav-link">{{ site.nav-news[page.language] }}</a>
      {% else %}
      <a href="{{site.baseurl}}/es/news" class="nav-link">{{ site.nav-news[page.language] }}</a>
      {% endif %}
    </li>
    <li class="nav-item">
      {% if page.language == "en" %}
      <a href="{{site.baseurl}}/pricing" class="nav-link">{{ site.nav-pricing[page.language] }}</a>
      {% else %}
      <a href="{{site.baseurl}}/es/pricing" class="nav-link">{{ site.nav-pricing[page.language] }}</a>
      {% endif %}
    </li>
    <li class="nav-item">
      {% if page.language == "en" %}
      <a href="{{site.baseurl}}/contact#faq" class="nav-link">FAQ</a>
      {% else %}
      <a href="{{site.baseurl}}/es/contact#faq" class="nav-link">FAQ</a>
      {% endif %}
    </li>
    <li class="nav-item">
      {% if page.language == "en" %}
      <a href="{{site.baseurl}}/contact" class="nav-link">{{ site.nav-contact[page.language] }}</a>
      {% else %}
      <a href="{{site.baseurl}}/es/contact" class="nav-link">{{ site.nav-contact[page.language] }}</a>
      {% endif %}
    </li>
  </ul>
</nav>