---
layout: default
title: Bienvenid@s a CryptoModeler App
h1: ¡Crypto Modeler!
language: es
description: Crypto Mobile App para automatizar completamente sus inversiones diarias y ver todas las ganancias de un vistazo.
---
<header class="first-container">
  {% include logo.html %}
  <img src="{{site.baseurl}}/img/dashboard-cryptomodeler.webp" alt="{{page.description}}" class="hero-home">
  <div class="home-hero">
    <h1>{{page.h1}}</h1>
    <p>Cryptos para todos!</p>
    <a href="{{ site.baseurl }}/{{page.download-link}}" title="Download Crypto Modeler" class="botones">Descargar</a>
  </div>
</header>
<section class="about">
  <h2>¿Qué es Crypto Modeler?</h2>
  <p>Crypto Modeler es la forma más fácil de comenzar su carrera en el mundo de las criptomonedas.</p>
  <p>Tan simple como <strong style="color: var(--principal);">arrastrar y soltar las acciones que desee</strong> y deje que la
    aplicación trabaje por ti.</p>
  <ul class="features">
    <li>
      <img src="{{site.baseurl}}/img/data.webp" alt="Cryptomodeler data analysis"
        title="Cryptomodeler feature of data analysis" width="220" height="200">
      <p>Cryptomodeler <strong>organiza los datos del mercado de Binance utilizando nuestra IA</strong> de la mano de los demás y tomar las decisiones más decisiones más eficientes.</p>
    </li>
    <li>
      <img src="{{site.baseurl}}/img/workflows-crypto.webp" alt="Cryptomodeler workflows"
        title="Workflows Cryptomodeler" width="220" height="200">
      <p>Automatice sus movimientos y alertas con <strong>los flujos de Crypto Modeler.</strong></p>
    </li>
    <li>
      <img src="{{site.baseurl}}/img/actions-cryptomodeler.webp" alt="Actions and impacts cryptomodeler"
        title="feature cryptomodeler of actions and impact" width="220" height="200">
      <p>Con sus flujos de trabajo establecidos y activados, <strong>verá fácilmente el impacto de la acción en sus ganancias.</strong>
      </p>
    </li>
  </ul>
</section>
<div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
    style="height: 100%; width: 100%;">
    <path d="M-14.44,-18.25 C168.40,253.13 350.67,80.43 517.72,13.31 L500.00,150.00 L0.00,150.00 Z"
      style="stroke: none; fill: var(--blanco); display: inline-block;"></path>
  </svg></div>
<section class="how">
  <h2>¿Cómo funciona Crypto Modeler?</h2>
  <ul class="how-steps">
    <li><img src="{{'img/dashboard.svg' | relative_url}}" alt="Cryptomodeler Dashboard" loading="lazy">
      <p>Reciba datos en tiempo real y siga el rendimiento de su cartera.</p>
    </li>
    <li><img src="{{'img/workflows.svg' | relative_url}}" alt="Cryptomodeler WorkFlows" loading="lazy">
      <p>Arrastre y suelte sus próximos movimientos directamente en su móvil.</p>
    </li>
    <li><img src="{{'img/actions.svg' | relative_url}}" alt="Cryptomodeler Actions" loading="lazy">
      <p>Automatiza tus acciones y la IA hará todo el trabajo por usted.</p>
    </li>
  </ul>
  <p>¿No crees que es hora de que empieces a obtener beneficios reales? ;). Pruébalo! <br>Crypto Modeler es bastante fácil!</p>
  <a class="botones" href="{{ site.baseurl }}/{{page.download-link}}" title="lorem">Descárgalo</a>
</section>
<div style="height: 150px; overflow: hidden; background-color: white;"><svg viewBox="0 0 500 150"
    preserveAspectRatio="none" style="height: 100%; width: 100%;">
    <path d="M-14.44,-18.25 C168.40,253.13 350.67,80.43 517.72,13.31 L500.00,150.00 L0.00,150.00 Z"
      style="stroke: none; fill: var(--secundario); display: inline-block;"></path>
  </svg></div>


{% include footer.html %}