.contact-home{
  position: relative;
  width: 100%;
  padding: 70px clamp(2rem, 10vw, 5rem) 0;
  background-color: var(--secundario);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  z-index: 2;
}

.rrss {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);

}

.rrss div {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  background-color: var(--complemento2);
  color: white;
  padding: 7rem clamp(1rem, 5vw, 7rem) 1rem;
  border-radius: 0 0 5% 34%;
}

.rrss div h2 {
  color: var(--principal);
  margin-bottom: 3rem;
  font-weight: 900;
  grid-column: span 2;
}

.rrss svg {
  width: 100%;
}

.redes {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.contact{
  background-color: rgba(0, 0, 0, 0.7);
  padding: 7rem clamp(1rem, 5vw, 7rem);
  color: white;
}

.form{
  width: min(90vw, 720px);
  margin: 2rem auto;
  padding: 2rem;
}
.form__group {
  margin-bottom: 20px;
}

.form__label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
}

.form__input {
  background-color: var(--complemento1);
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: 1px solid darken(var(--gris3), 5%);
  border-radius: 12px;
  border-bottom: 2px solid var(--complemento1);
  transition: transform 0.3s;
}

.form__input::placeholder{
  color: white;
  opacity: 0.5;
}

.form__input:focus {
  box-shadow: 0 2px 5px var(--gris4);
}

textarea.form__input {
  resize: none;
}

.form button {
  border: none;
  font-weight: 700;
  background-color: var(--accion);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 0 5px rgba(33, 35, 02, 0.3);
}

.form button:hover {
  background-color: var(--complemento2);
  cursor: pointer;
}
