footer {
  position: relative;
  padding: 7rem clamp(2rem, 7vw, 10rem) 4rem;
  width: 100%;
  background-color: var(--secundario);
  display: grid;
  gap: 3rem;
  color: white;
}

#descargas{
  display: grid;
  gap: 3rem;
  justify-content: center;
  padding: 0 0 5rem;
}

#descargas h3{
  text-align: center;
  text-transform: uppercase;
}

#descargas ul{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

#descargas ul li{
  list-style: none;
}

#descargas ul li svg{
  height: 92px;
  width: min(70vw, 400px);
}

.footer-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-links div{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: left;
}

.footer-links div a{
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
}