footer {
  position: relative;
  padding: 7rem clamp(2rem, 7vw, 10rem) 4rem;
  width: 100%;
  background-color: var(--secundario);
  display: grid;
  gap: 2rem;
  color: white;
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer div,
footer small {
  text-align: center;
}

footer div ul {
  position: relative;
}

footer div ul li {
  list-style: none;
}

footer div a{
  color: #FFE100;
}

.google,
.apple{
  margin: 0 auto;
}