.flags{
  position: fixed;
  top: 35vh;
  right: 0;
  background-color: var(--principal);
  padding: 0.5rem;
  border-radius: 12px 0 0 12px;
  box-shadow: var(--shadow);
  display: grid;
  gap: 0.5rem;
}
.flags a img{
  width: 30px;
}