.news-home {
  position: relative;
  width: 100%;
  padding: 70px clamp(2rem, 10vw, 5rem) 0;
  background-color: var(--secundario);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  z-index: 2;
}

.blog-intro {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  padding: 7rem clamp(1rem, 5vw, 7rem);
  background-color: white;
}

.blog-intro h2 {
  font-weight: 900;
  width: 100%;
}

.blog-intro div,
.blog-intro p,
.blog-intro li {
  width: min(90vw, 1024px);
}


.blog-intro blockquote p{
  text-indent: 1rem;
  letter-spacing: 1.2px;
  font-style: oblique;
}

.blog-intro div {
  display: flex;
  gap: clamp(2rem, 10vw, 4rem);
  flex-wrap: wrap;
  justify-content: center;
}

.blog-intro div h3 {
  color: var(--principal);
  display: block;
  width: 100%;
}

.article-blog a {
  position: relative;
  width: min(90vw, 480px);
  display: grid;
  gap: 0.5rem;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  padding: 0.8rem 1.4rem;
  border-radius: 12px;
  background-color: var(--secundario);
  box-shadow: var(--shadow);
  color: var(--blanco);
  text-decoration: none;
}

.article-blog img {
  position: relative;
  max-width: 100%;
  max-height: 96px;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
  border-radius: 12px 0 0 12px;
  grid-row: span 2;
}

.article-blog a h4{
  font-weight: 300;
  font-size: var(--fuenteBotones);
}

.article-blog small {
  color: white;
  font-size: var(--fuenteBotones);
  text-align: right;
}