---
layout: default
---
{% include header.html %}
<div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
    style="height: 100%; width: 100%; ">
    <path d="M-14.44,-18.25 C168.40,253.13 350.67,80.43 517.72,13.31 L500.00,150.00 L0.00,150.00 Z"
      style="stroke: none; fill: var(--blanco);"></path>
  </svg></div>
<main class="articulo">
  <section>
    <small>Autor: {{page.autor}}. Date: {{ page.date | date_to_long_string | date: "%b %d, %y"}}</small>
    {{ content }}
    <h2>{{ site.article-share[page.language] }}</h2>
    {% include share.html %}

  </section>

  <aside class="sugerencias">
    <h3>{{ site.article-more[page.language] }}</h3>
    {% assign maxRelated = 5 %}
    {% assign minCommonTags =  1 %}
    {% assign maxRelatedCounter = 0 %}
    {% for post in site.posts %}
    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}
    {% for tag in post.tags %}
    {% if post.url != page.url %}
      {% if post.language == page.language %}
        {% if page.tags contains tag %}
    {% assign sameTagCount = sameTagCount | plus: 1 %}
    {% capture tagmarkup %} <span>{{ tag }}</span> {% endcapture %}
    {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endif %}
    {% endfor %}
    {% if sameTagCount >= minCommonTags %}
    <a href="{{ post.url }}" title="{{post.title}}">
      <div class="relacionados">
        {% if post.img %}
        <img src="{{site.baseurl}}/img/{{ post.hero }}" width="100%" height="auto" alt="{{ post.altheader }}"
          loading="lazy">
        {% endif %}
        <h4>{{ post.h1 }}</h4>
      </div>
    </a>
    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
    {% if maxRelatedCounter >= maxRelated %}
    {% break %}
    {% endif %}
    {% endif %}
    {% endfor %}
  </aside>
</main>
<section class="article-end">
  <h3>{{ site.article-end[page.language] }}</h3>
  <a class="botones" href="assets/com.pixcile.cryptobiance.apk" title="lorem" rel="nofollow">{{ site.article-end-button[page.language] }}</a>

</section>

{% include footer.html %}