---
layout: default
---
{% include header.html %}
<div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
    style="height: 100%; width: 100%; ">
    <path d="M-14.44,-18.25 C168.40,253.13 350.67,80.43 517.72,13.31 L500.00,150.00 L0.00,150.00 Z"
      style="stroke: none; fill: var(--blanco);"></path>
  </svg></div>
<main class="articulo">
  <section>
    <small>Autor: {{page.autor}}. Date: {{ page.date | date_to_long_string | date: "%b %d, %y"}}</small>
    {{ content }}
    <h2>¿Do you enjoy this article? Please, share it</h2>
    {% include share.html %}

    <!-- <div class="disqus" style="width: min(90%, 640px); margin-left: inherit; justify-self: left; box-shadow: none; padding: 1rem;"></div> -->
    <!-- <div class="disqus-loading">Loading comments&hellip;</div> -->
  </section>

  <aside class="sugerencias">
    <h3>Learn more about...</h3>
    {% assign maxRelated = 5 %}
    {% assign minCommonTags =  1 %}
    {% assign maxRelatedCounter = 0 %}
    {% for post in site.posts %}
    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}
    {% for tag in post.tags %}
    {% if post.url != page.url %}
    {% if page.tags contains tag %}
    {% assign sameTagCount = sameTagCount | plus: 1 %}
    {% capture tagmarkup %} <span>{{ tag }}</span> {% endcapture %}
    {% assign commonTags = commonTags | append: tagmarkup %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% if sameTagCount >= minCommonTags %}
    <a href="{{ post.url }}" title="{{post.title}}">
      <div class="relacionados">
        {% if post.img %}
        <img src="{{site.baseurl}}/img/{{ post.hero }}" width="100%" height="auto" alt="{{ post.altheader }}"
          loading="lazy">
        {% endif %}
        <h4>{{ post.h1 }}</h4>
      </div>
    </a>
    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
    {% if maxRelatedCounter >= maxRelated %}
    {% break %}
    {% endif %}
    {% endif %}
    {% endfor %}
  </aside>
</main>
<!-- <style>
 .disqus-placeholder.is-hidden { display: none; }
</style>
<script defer> 
/*
disqusLoader.js v1.0
A JavaScript plugin for lazy-loading Disqus comments widget.
-
By Osvaldas Valutis, www.osvaldas.info
Available for use under the MIT License
*/

(function(b,f,l){var r=function(a){a=a.getBoundingClientRect();return{top:a.top+f.body.scrollTop,left:a.left+f.body.scrollLeft}},t=function(a,c){var d=f.createElement("script");d.src=a;d.async=!0;d.setAttribute("data-timestamp",+new Date);d.addEventListener("load",function(){"function"===typeof c&&c()});(f.head||f.body).appendChild(d)};l=function(a,c){var d,e;return function(){var g=this,f=arguments,b=+new Date;d&&b<d+a?(clearTimeout(e),e=setTimeout(function(){d=b;c.apply(g,f)},a)):(d=b,c.apply(g,
f))}};var m=!1,n=!1,p=!1,k=!1,h="unloaded",e=!1,q=function(){if(!e||!f.body.contains(e)||"loaded"==e.disqusLoaderStatus)return!0;var a=b.pageYOffset,c=r(e).top;if(c-a>b.innerHeight*n||0<a-c-e.offsetHeight-b.innerHeight*n)return!0;(a=f.getElementById("disqus_thread"))&&a.removeAttribute("id");e.setAttribute("id","disqus_thread");e.disqusLoaderStatus="loaded";"loaded"==h?DISQUS.reset({reload:!0,config:p}):(b.disqus_config=p,"unloaded"==h&&(h="loading",t(k,function(){h="loaded"})))};b.addEventListener("scroll",
l(m,q));b.addEventListener("resize",l(m,q));b.disqusLoader=function(a,c){var d={laziness:1,throttle:250,scriptUrl:!1,disqusConfig:!1},b=c,g,h={};for(g in d)Object.prototype.hasOwnProperty.call(d,g)&&(h[g]=d[g]);for(g in b)Object.prototype.hasOwnProperty.call(b,g)&&(h[g]=b[g]);c=h;n=c.laziness+1;m=c.throttle;p=c.disqusConfig;k=!1===k?c.scriptUrl:k;e="string"===typeof a?f.querySelector(a):"number"===typeof a.length?a[0]:a;e.disqusLoaderStatus="unloaded";q()}})(window,document,0); 
</script>
<script defer>
	disqusLoader( '.disqus',
	{
		scriptUrl:		'//gurcoff.disqus.com/embed.js',
		disqusConfig:	function()
		{
			this.page.identifier 	= 'https://gurcoff.com{{page.url}}';
			this.page.url			= 'https://gurcoff.com{{page.url}}';
			this.page.title			= '{{page.title}}';
			this.callbacks.onReady	= [function()
			{
				var el = document.querySelector( '.disqus-loading' );
				if( el.classList )
					el.classList.add( 'is-hidden' );
				else
					el.className += ' ' + 'is-hidden';
			}];
		}
	});
</script> -->
<section class="article-end">
  <h3>¿You do not have your Crypto Modeler app yet?</h3>
  <a class="botones" href="#" title="lorem">Lorem ipsum dolor.</a>

</section>

{% include footer.html %}